<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Applicant Demographics</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            insert visualization here
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">View Potential Applicants</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body table-responsive">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered table-hover" id="appTable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Position Applied</th>
                  <th>Age</th>
                  <th>Location</th>
                  <th>Gpa</th>
                  <th>Exp</th>
                  <th>Status</th>
                  <th style="width:5%;">Show</th>
                  <th style="width:4%;">Edit</th>
                  <th style="width:5%;">Destroy</th>
                </tr>
              </thead>

              <tbody>
                <% @applicants.each do |applicant| %>
                  <tr>
                    <td><%= applicant.name %></td>
                    <td><%= applicant.position.name %></td>
                    <td><%= applicant.age %></td>
                    <td><%= applicant.location %></td>
                    <td><%= applicant.gpa %></td>
                    <td><%= applicant.exp %></td>
                    <td><%= applicant.status.name %></td>
                    <td><center><%= link_to applicant do %><span class="fa fa-eye fa-1x"></span><% end %></center></td>
                    <td><center><%= link_to edit_applicant_path(applicant) do %><span class="fa fa-edit fa-1x"></span><% end %></center></td>
                    <td><center><%= link_to applicant, method: :delete, data: { confirm: 'Are you sure?' }  do %><span class="fa fa-trash fa-1x"></span><% end %></center></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <br>
        <%= button_to 'New Applicant', new_applicant_path, class: 'btn btn-primary', type: 'button', method: :get %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Filter Applicants</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <form role="form" id="appForm">
              <div class="form-group">
                <label for="agerange">Age range</label>
                <% if !@agerange.blank? %>
                  <% @agerange.each_with_index do |v, k| %>
                  <div class="checkbox">
                    <label><input type="checkbox" name="agerange" value="<%= k %>"> <%= v %></label>
                  </div>
                  <% end %>
                <% end %>
              </div>
              <div class="form-group">
                <label for="position">Position applied</label>
                <% if !@positions.blank? %>
                <% @positions.each_with_index do |v, k| %>
                <div class="checkbox">
                  <label><input type="checkbox" name="position" value="<%= k %>"> <%= v.name %></label>
                </div>
                <% end %>
                <% end %>
              </div>
              <div class="form-group">
                <label for="language">Programming skills</label>
                <% if !@languages.blank? %>
                <% @languages.each_with_index do |v, k| %>
                <div class="checkbox">
                  <label><input type="checkbox" name="languages" value="<%= k %>"> <%= v.name %></label>
                </div>
                <% end %>
                <% end %>
              </div>
              <div class="form-group">
                <label for="status">Recruitment status</label>
                <% if !@statuses.blank? %>
                <% @statuses.each_with_index do |v, k| %>
                <div class="checkbox">
                  <label><input type="checkbox" name="languages" value="<%= k %>"> <%= v.name %></label>
                </div>
                <% end %>
                <% end %>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <%= button_to 'Apply Filters', new_applicant_path, class: 'btn btn-primary', type: 'button', method: :get %>
      </div>
    </div>
  </div>
</div>
