<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @applicant.name %>
</p>

<p>
  <strong>Position applied:</strong>
  <%= @applicant.position.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @applicant.age %>
</p>

<p>
  <strong>Location:</strong>
  <%= @applicant.location %>
</p>

<p>
  <strong>GPA:</strong>
  <%= @applicant.gpa %>
</p>

<p>
  <strong>Years of Experience:</strong>
  <%= @applicant.exp %>
</p>

<p>
  <strong>Application status:</strong>
  <%= @applicant.status.name %>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
