<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">View recruiters</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered table-hover dataTable" id="referTable">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>No of Referrals</th>
                    <th>Performance Rating</th>
                    <th style="width:5%;">Show</th>
                    <th style="width:4%;">Edit</th>
                    <th style="width:5%;">Delete</th>
                </tr>
                </thead>

                <tbody>
                <% @recruiters.each_with_index do |recruiter, k| %>
                      <tr>
                        <td><%= recruiter.name %></td>
                        <td><%= @counts[k] %></td>
                        <td><%= recruiter.rate.round(2) %></td>
                      <td><center><%= link_to recruiter do %><span class="fa fa-eye fa-1x"></span><% end %></center></td>
                      <td><center><%= link_to edit_recruiter_path(recruiter) do %><span class="fa fa-edit fa-1x"></span><% end %></center></td>
                      <td><center><%= link_to recruiter, method: :delete, data: { confirm: 'Are you sure?' }  do %><span class="fa fa-trash fa-1x"></span><% end %></center></td>
                    </tr>
                <% end %>
              </tbody>
            </table>

            <br>

            <%= button_to 'New recruiter', new_recruiter_path, class: 'btn btn-primary', type: 'button', method: :get %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
