<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">View available job positions</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered table-hover dataTable" id="posTable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Count</th>
                  <th style="width:5%;">Show</th>
              </tr>
            </thead>

            <tbody>
                <% @positions.each_with_index do |position, k| %>
                  <tr>
                    <td><%= position.name %></td>
                    <td><%= @counts[k] %></td>
                    <td><center><%= link_to position do %><span class="fa fa-eye fa-1x"></span><% end %></center></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <br>

            <%= button_to 'New position', new_position_path, class: 'btn btn-primary', type: 'button', method: :get %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
