<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">NAVIGATION BAR</li>
        <!-- Optionally, you can add icons to the links -->
      <li class=""><a href="<%= dashboard_path %>"><i class='fa fa-link'></i> <span>Dashboard</span></a></li>
      <li class="treeview <% if controller.controller_name == 'applicants' %>active<% end %>">
        <a href="#"><i class='fa fa-users'></i> <span>Applicants</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><%= link_to "View", applicants_path %></li>
            <li><%= link_to "Add", new_applicant_path %></li>
        </ul>
      </li>
      <li class="treeview <% if controller.controller_name == 'positions' %>active<% end %>">
        <a href="#"><i class='fa fa-street-view'></i> <span>Positions</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><%= link_to "View", positions_path %></li>
          <li><%= link_to "Add", new_position_path %></li>
        </ul>
      </li>
      <li class="treeview <% if controller.controller_name == 'applicants' %>languages<% end %>">
        <a href="#"><i class='fa fa-language'></i> <span>Languages</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><%= link_to "View", languages_path %></li>
            <li><%= link_to "Add", new_language_path %></li>
        </ul>
      </li>
      <li class="treeview <% if controller.controller_name == 'statuses' %>active<% end %>">
        <a href="#"><i class='fa fa-cubes'></i> <span>Statuses</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><%= link_to "View", statuses_path %></li>
        </ul>
      </li>
      <li class="treeview <% if controller.controller_name == 'recruiters' %>active<% end %>">
        <a href="#"><i class='fa fa-user-secret'></i> <span>Recruiters</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><%= link_to "View", recruiters_path %></li>
            <li><%= link_to "Add", new_recruiter_path %></li>
        </ul>
      </li>
      <li class="<% if controller.controller_name == 'performance' %>active<% end %>"><a href="<%= performance_path %>"><i class='fa fa-bar-chart'></i> <span>Recruitment Performance</span></a></li>
      <!-- <li><a href="#"><i class='fa fa-link'></i> <span>Exit</span></a></li> -->
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
