<section class="content-header">
  <h1>
    Dashboard
    <small>Hello, Recruiter!</small>
  </h1>
  <!-- <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol> -->
</section>
<br><br>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">New Hires</span>
        <span class="info-box-number">1,000</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-red"><i class="fa fa-user-plus"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Potential Heads</span>
        <span class="info-box-number">41,410</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <!-- fix for small devices only -->
  <div class="clearfix visible-sm-block"></div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Sales</span>
        <span class="info-box-number">760</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">New Recruiters</span>
        <span class="info-box-number">10</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
</div>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Daily Recruitment Activities</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
              <%= high_chart("some_id", @chartday) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Demands</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <!-- <p class="text-center">Goal Completion</p> -->
            <div class="progress-group">
              <span class="progress-text">Software Engineers</span>
              <span class="progress-number"><b>160</b>/200</span>

              <div class="progress sm">
                <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
              </div>
            </div>
            <div class="progress-group">
              <span class="progress-text">CSRs</span>
              <span class="progress-number"><b>310</b>/400</span>

              <div class="progress sm">
                <div class="progress-bar progress-bar-red" style="width: 75%"></div>
              </div>
            </div>
            <div class="progress-group">
              <span class="progress-text">Nurses</span>
              <span class="progress-number"><b>480</b>/800</span>

              <div class="progress sm">
                <div class="progress-bar progress-bar-green" style="width: 60%"></div>
              </div>
            </div>
            <div class="progress-group">
              <span class="progress-text">Project Managers</span>
              <span class="progress-number"><b>250</b>/500</span>

              <div class="progress sm">
                <div class="progress-bar progress-bar-yellow" style="width: 50%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title">Top Hirees</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
            <!-- <p class="text-center">Goal Completion</p> -->
            <ul class="products-list product-list-in-box">
              <li class="item">
                <div class="product-img">
                    <%= image_tag("empty-profile.png", size:"50x50", alt: "Edit Entry", class: "img-responsive")%>
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Franco Ray</a><br>
                      Rating: 86.45 <br>
                      <span class ="product-description">
                          Applied for Cloud Consultant
                      </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                    <%= image_tag("empty-profile.png", size:"50x50", alt: "Edit Entry", class: "img-responsive")%>
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Andrew Lorbs</a><br>
                      Rating: 83.00 <br>
                      <span class ="product-description">
                          Applied for IT Consultant
                      </span>
                </div>
              </li>
              <li class="item">
                <div class="product-img">
                    <%= image_tag("empty-profile.png", size:"50x50", alt: "Edit Entry", class: "img-responsive")%>
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Earl Branze</a><br>
                      Rating: 81.27 <br>
                      <span class ="product-description">
                          Applied for Project Manager
                      </span>
                </div>
              </li>
              <li class="item">
                <div class="product-img">
                    <%= image_tag("empty-profile.png", size:"50x50", alt: "Edit Entry", class: "img-responsive")%>
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Robert Basi</a><br>
                      Rating: 80.80 <br>
                      <span class ="product-description">
                          Applied for Customer Service Representative
                      </span>
                </div>
              </li>
              <!-- /.item -->
            </ul>
      </div>
    </div>

    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Top Recruiters</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
            <!-- <p class="text-center">Goal Completion</p> -->
            <ul class="products-list product-list-in-box">
              <li class="item">
                <div class="product-img">
                    <%= image_tag("empty-profile.png", size:"50x50", alt: "Edit Entry", class: "img-responsive")%>
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Alek Odovin
                    <span class="label label-info pull-right">10</span></a>
                      <span class="product-description">
                        10 New recruits of status 'job offer' and above
                      </span>
                </div>
              </li>
              <!-- /.item -->
              <li class="item">
                <div class="product-img">
                    <%= image_tag("empty-profile.png", size:"50x50", alt: "Edit Entry", class: "img-responsive")%>
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Victor Delamonte
                    <span class="label label-danger pull-right">8</span></a>
                      <span class="product-description">
                        8 New recruits from Tondo, Manila
                      </span>
                </div>
              </li>
              <li class="item">
                <div class="product-img">
                    <%= image_tag("empty-profile.png", size:"50x50", alt: "Edit Entry", class: "img-responsive")%>
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Paul Phoenix
                    <span class="label label-info pull-right">8</span></a>
                      <span class="product-description">
                        6 New recruits of status 'job offer' and above
                      </span>
                </div>
              </li>
              <li class="item">
                <div class="product-img">
                    <%= image_tag("empty-profile.png", size:"50x50", alt: "Edit Entry", class: "img-responsive")%>
                </div>
                <div class="product-info">
                  <a href="javascript:void(0)" class="product-title">Franz Ferdinand
                    <span class="label label-success pull-right">5</span></a>
                      <span class="product-description">
                        2 New recruits for the past 3 days
                      </span>
                </div>
              </li>
              <!-- /.item -->
            </ul>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-xs-6">
    <div class="description-block border-right">
      <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
      <h5 class="description-header">$35,210.43</h5>
      <span class="description-text">TOTAL REVENUE</span>
    </div>
    <!-- /.description-block -->
  </div>
  <!-- /.col -->
  <div class="col-sm-3 col-xs-6">
    <div class="description-block border-right">
      <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
      <h5 class="description-header">$10,390.90</h5>
      <span class="description-text">TOTAL COST</span>
    </div>
    <!-- /.description-block -->
  </div>
  <!-- /.col -->
  <div class="col-sm-3 col-xs-6">
    <div class="description-block border-right">
      <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
      <h5 class="description-header">$24,813.53</h5>
      <span class="description-text">TOTAL PROFIT</span>
    </div>
    <!-- /.description-block -->
  </div>
  <!-- /.col -->
  <div class="col-sm-3 col-xs-6">
    <div class="description-block">
      <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
      <h5 class="description-header">1200</h5>
      <span class="description-text">GOAL COMPLETIONS</span>
    </div>
    <!-- /.description-block -->
  </div>
  </div>
